doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Purchases Dashboard
  script(src='https://cdn.tailwindcss.com')
  script(src='../public/css/style.css')
.max-w-7xl.mx-auto.p-6
  // TOP SECTION
  .grid.grid-cols-1.gap-8(class='lg:grid-cols-2')
    // LEFT
    div
      // SALES + ORDERS
      .bg-white.rounded.border.p-10(class='h-[220px]')
        .grid.grid-cols-2.h-full
          .flex.flex-col.justify-center
            h1#salesValue.text-4xl.font-bold
              | UGX 50,000,000
            p.text-gray-500.text-xl Sales
          .border-l.pl-10.flex.flex-col.justify-center
            h1#ordersValue.text-4xl.font-bold
              | UGX 15,000,000
            p.text-gray-500.text-xl Orders
      // STOCK
      .grid.grid-cols-2.gap-6.mt-6
        .bg-white.rounded.border.p-10
          h1#stockValue.text-4xl.font-bold.text-green-500
            | UGX 42,000,000
          p.text-gray-500.text-xl In stock
        .bg-white.rounded.border.p-10
          h1#outStockValue.text-4xl.font-bold.text-red-500
            | 5
          p.text-gray-500.text-xl Out of stock
    // RIGHT
    .bg-white.rounded.border.p-6
      h1.text-3xl.font-semibold.mb-4 Add Product
      // SUCCESS
      #successMsg.hidden.bg-green-500.text-white.p-3.mb-4.flex.justify-between
        span  Product has been added successfully! 
        span X
      // FORM
      form#productForm(action='/dashboard' method='POST' enctype="multipart/form-data")
        .space-y-4
          input#productName.w-full.border.p-3.outline-none(type='text' name='productName' placeholder='Product Name')
          input#category.w-full.border.p-3.outline-none(type='text' name='category' placeholder='Category')
          input#price.w-full.border.p-3.outline-none(type='number' name='price'  placeholder='Price')
          input#quantity.w-full.border.p-3.outline-none(type='number' name='quantity'  placeholder='Quantity')
          .grid.grid-cols-2.gap-4
            input#color.w-full.border.p-3.outline-none(type='text' name='color'  placeholder='Color')
            input#image.w-full.border.p-3.outline-none(type='file' name='image' )
          .grid.grid-cols-2.gap-4
            button#saveBtn.bg-orange-500.text-white.py-3.font-bold.rounded(type='submit' class='hover:bg-orange-600')
              | SAVE
            button#clearBtn.bg-gray-300.py-3.font-bold.rounded(type='submit' class='hover:bg-gray-400')
              | CLEAR
  // TABLE
  .mt-8.overflow-auto
    table.w-full.bg-white
      thead.bg-black.text-white
        tr
          th.p-3 ID
          th.p-3 NAME
          th.p-3 CATEGORY
          th.p-3 PRICE(UGX)
          th.p-3 QUANTITY
      tbody#tableBody
script(src='/js/dashboard.js')
